@page "/"

<div class="flex flex-col space-y-4">
    <div class="flex justify-end">
        <button 
            class="px-4 py-2 bg-[#007ACC] rounded-full text-white rounded hover:bg-[#388A34] transition-colors duration-200" 
            @onclick="Convert">
            Convert
        </button>
    </div>

    <div class="flex flex-col md:flex-row md:space-x-4 space-y-4 md:space-y-0">
        <div class="flex-1">
            <label 
                for="json-editor" 
                class="block text-sm font-mono font-semibold text-gray-800 dark:text-gray-200 mb-2">
                JSON Editor
            </label>
            <StandaloneCodeEditor 
                @ref="_jsonEditor" 
                Id="json-editor" 
                ConstructionOptions="JsonEditorConstructionOptions"
                CssClass="h-[calc(100vh-12rem)] rounded border border-[#E7E7E7] dark:border-[#2D2D2D]" />
        </div>

        <div class="flex-1">
            <label 
                for="csharp-editor" 
                class="block text-sm font-mono font-semibold text-gray-800 dark:text-gray-200 mb-2">
                C# Editor
            </label>
            <StandaloneCodeEditor 
                @ref="_csharpEditor" 
                Id="csharp-editor" 
                OnDidInit="CsharpEditorOnDidInit"
                ConstructionOptions="CsharpEditorConstructionOptions"
                CssClass="h-[calc(100vh-12rem)] rounded border border-[#E7E7E7] dark:border-[#2D2D2D]" />
        </div>
    </div>
</div>